

.butt{
  display: inline-block;
  border-radius: 100px;
  background-color:#9710AB ;
  border: none;
  color: white;
  text-align: center;
  font-size: 25px;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  
}

.butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.errormsg{
  border: 1px solid rgb(250, 58, 58);
  background-color: rgba(248, 62, 62, 0.61);
  color: rgb(255, 0, 0);
  border-radius: 5px;
  margin-top: 5px;
  position: relative;
  padding: 5px 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.errormsg li{
  display: inline-block;
}

.success{
  background-color: #b7ddb0;
  display: block;
  border: 1px solid #49852e;
  color:#49852e;
}

.error{
  background-color: #ffbaba;
  display: block;
  border: 1px solid 	#ff0000;
  color: 	#ff0000;
}