input{
    border:none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
}

h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    height: 97vh;
}

label{
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input[type="text"],input[type="email"],input[type="password"]{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif; 
}

input[type="submit"]{
    display: block;
    border: none;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
}

input[type="submit"]:hover{
    background: -webkit-linear-gradient(left, #b224ef, #7579ff);
}

.middle{
    width: 60%;
    margin-top: 2%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.main{
    height: fit-content;
    border: 1px solid purple;
    background-color: rgba(255, 255, 255, 0.575);
}

.errormsg{
    border: 1px solid rgb(250, 58, 58);
    background-color: rgba(248, 62, 62, 0.61);
    color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    padding: 5px 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
  
.errormsg li{
    display: inline-block;
}

