.frame1{
list-style-type: none;
  margin: 0;
  padding: 0;
  width: 34%;
  background-color: #2F4F4F;
  height: 750px;
  float: left;
}

.butgrp{
  margin-top: 50px;
  margin-left: 55px;
}

.butgrp .button2 {
  background-color: #7B68EE;
  border: 1px solid #9370DB;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  display: block;
}

.butgrp .button2:hover {
  background-color: #9370DB;
}

.detail p{
font-size: 20px;
padding: 10px;
}

#calender{
    float:right;
    margin-top: 40px;
    margin-right: 300px;
    width: 250px;
    height: 265px;
    background-color: #B0C4DE;
    border:#fff;
    border-radius: 5%;
    box-shadow: 0 4px 4px 0 rgba(50,50,50,0.4);
}
#calender>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0;
    margin: 0;
    color:black;
    text-align: center;
}
#calender-day{
    font-size:16px;
}
#calender-month-year{
    font-size: 14px;
}
#calender-date{
    font-size:64px;
    padding-top:10px;
    padding-bottom: 0;
}

.button {
  display: inline-block;
  margin-left: 36%;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#7B68EE;
  border: none;
  border-radius: 15px;
}

.button:hover {background-color: #9370DB}

.button:active {
  background-color: #663399;
  transform: translateY(4px);
}



.details {
  font-size: 20px;
  font-family: Arial;
  background-color:#20B2AA;
  color: white;
  padding: 10px;
  width:600px;
}

 .tbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
  
  .tbl td{
  border: 2px solid #ddd;
  padding: 12px;
  background-color: #B0C4DE;
  }

.dat input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dat input[type=submit] {
  width: 100%;
  background-color: #B0C4DE;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dat input[type=submit]:hover {
  background-color: #4169E1;
}

.dat{
  height: 380px;
  margin-top: 280px; 
  margin-left: 20%;
  border-radius: 5px;
  background-color: #E6E6FA;
  padding: 20px;
}

.delete{
  font-size: 20px;
  font-family: Arial;
  background-color:#f36161a4;
  color: white;
  padding: 10px;
  width:600px;
  margin-top:10px;
  border-radius: 10px;
}

.dbutton {
  display: inline-block;
  margin-left: 37%;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:#fa0000;
  border: none;
  border-radius: 15px;
}

.dbutton:hover {background-color: #ff0000b0}